<html>
    <head>

        <meta charset="utf-8">
        <title>Analytics data</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <style>
            ul {
                margin: 3rem;
                margin-left: 0;
            }
            li {
                font-size: 2rem;
            }
        </style>
    </head>
    <body>

    <div class="container">
        <div class="page-header">
            <h1>Provenance</h1>
        </div>

        {% if sites is not empty %}

        <ul class="list-unstyled">
            {% for site in sites %}
            <li><a href='/site/{{ site.id }}'>{{ site.getName }}</a></li>
            {% endfor %}
        </ul>

        {% else %}
            <p>There are no sites saved in the table</p>
        {% endif %}

    </div>

    </body>
</html>
